name: Test Django

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      mariadb:
        image: mariadb:latest
        ports:
          - '3306:3306'
        env:
          MARIADB_USER: poetfolio
          MARIADB_PASSWORD: devdevdev
          MARIADB_DATABASE: poetfolio_dev
          MARIADB_ROOT_PASSWORD: devdevdev
        options: --health-cmd="healthcheck.sh --connect --innodb_initialized" --health-interval=10s --health-timeout=5s --health-retries=3
          
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main

    - name: Verify MariaDB connection
      env:
        PORT: ${{ job.services.mariadb.ports[3306] }}
      run: |
        while ! mysqladmin ping -h"127.0.0.1" -P"$PORT" --silent; do
          sleep 1
        done   
    
    - name: Install Flake
      env:
        PORT: ${{ job.services.mariadb.ports[3306] }}
      run: nix build
        
    - name: Check Flake
      run: nix flake check

    - name: Set Up Environment
      env:
        POETFOLIO_STATIC: /home/runner/static
      run: |
        mkdir /home/runner/static
        ./result/bin/python ./ekiree_dashboard/manage.py collectstatic
    - name: Test Migrations
      env:
        POETFOLIO_DB_HOST: 127.0.0.1
      run: |
        ./result/bin/python ./ekiree_dashboard/manage.py migrate --skip-checks
    - name: Test Poetfolio
      env:
        POETFOLIO_DB_NAME: poetfolio_dev
        POETFOLIO_DB_USER: root
        POETFOLIO_DB_PASSWORD: devdevdev
        POETFOLIO_STATIC: /home/runner/static
        POETFOLIO_DB_HOST: 127.0.0.1
      run: |
        cd ekiree_dashboard
        ../result/bin/python ./manage.py test poetfolio
    - name: Test Reports
      env:
        POETFOLIO_DB_NAME: poetfolio_dev
        POETFOLIO_DB_USER: root
        POETFOLIO_DB_PASSWORD: devdevdev
        POETFOLIO_STATIC: /home/runner/static
        POETFOLIO_DB_HOST: 127.0.0.1
      run: |
        cd ekiree_dashboard
        ../result/bin/python ./manage.py test reports
    - name: Test Vita
      env:
        POETFOLIO_DB_NAME: poetfolio_dev
        POETFOLIO_DB_USER: root
        POETFOLIO_DB_PASSWORD: devdevdev
        POETFOLIO_STATIC: /home/runner/static
        POETFOLIO_DB_HOST: 127.0.0.1
      run: |
        cd ekiree_dashboard
        ../result/bin/python ./manage.py test vita
    - name: Test Siteconfig
      env:
        POETFOLIO_DB_NAME: poetfolio_dev
        POETFOLIO_DB_USER: root
        POETFOLIO_DB_PASSWORD: devdevdev
        POETFOLIO_STATIC: /home/runner/static
        POETFOLIO_DB_HOST: 127.0.0.1
      run: |
        cd ekiree_dashboard
        ../result/bin/python ./manage.py test siteconfig
    - name: Test ED
      env:
        POETFOLIO_DB_NAME: poetfolio_dev
        POETFOLIO_DB_USER: root
        POETFOLIO_DB_PASSWORD: devdevdev
        POETFOLIO_STATIC: /home/runner/static
        POETFOLIO_DB_HOST: 127.0.0.1
      run: |
        cd ekiree_dashboard
        ../result/bin/python ./manage.py test ed
